<template>
  <div class="home">
    <img alt="Uni Bonn logo" style="width: 512px" src="../assets/logo.jpg" />
    <HelloWorld msg="Welcome in your Vue.js Applikation" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  components: {
    HelloWorld,
  },
};
</script>
