<template>
  <div id="login">
    <h1>Login to existing account</h1>
  </div>
  <div>
    <label>E-Mail</label>
    <input type="text" v-model="email" />
  </div>
  <div>
    <label>Passwort</label>
    <input type="password" v-model="password" />
  </div>
  <div>
    <button @click="login">Login</button>
  </div>
  <div></div>
  <Requests />
</template>

<script>
import Requests from "@/components/Requests.js";

export default {
  components: {
    Requests,
  },
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login() {
      Requests.loginUser(this.email, this.password);
    },
  },
};
</script>

<style></style>
