<template>
  <h1>Hi</h1>
  <button @click="fetchUsers">Fetch Users</button>
  <ul>
    <li v-for="user in users" :key="user">
      {{ user.id }} - {{ user.company }}
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      users: [],
    };
  },

  methods: {
    async fetchUsers() {
      fetch("http://localhost:8000/api/postings", {
        method: "GET",
        withCredentials: true,
        headers: {
          Authorization: "bearer " + localStorage.getItem("token"),
          "Content-Type": "application/json",
        },
      })
        .then((data) => data.json())
        .then((json) => {
          this.users = json;
        });
    },
  },
};
</script>

<style></style>
