<template>
  <div id="register">
    <div id="email">
      <label>E-Mail</label> <input type="text" v-model="email" />
    </div>
    <div id="password">
      <label>Password</label> <input type="password" v-model="password" />
    </div>
    <div id="password_confirm">
      <label>Confirm Password</label>
      <input type="password" v-model="password_confirmation" />
    </div>
    <button @click="register">Register</button>
  </div>
  <Requests></Requests>
</template>

<script>
import Requests from "@/components/Requests.js";

export default {
  components: {
    Requests,
  },
  data() {
    return {
      email: "",
      password: "",
      password_confirmation: "",
    };
  },
  methods: {
    register: function () {
      Requests.registerUser(
        this.email,
        this.password,
        this.password_confirmation
      );
    },
  },
};
</script>
